<div class="col-lg-4">
<div class="sidebar">
<div class="widget widget-search">
<form>
<div class="form-group input-icon-right">
<i class="fa fa-search"></i>
<input type="text" class="form-control" placeholder="Type to search...">
</div>
</form>
</div>
<div class="widget widget-post">
<h5 class="widget-title">Follow us on Twitter</h5>
<a class="twitter-timeline" data-lang="en" data-width="330" data-height="320" data-dnt="true" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/QuaverGame?ref_src=twsrc%5Etfw">Tweets by QuaverGame</a> 
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="widget widget-post">
<h5 class="widget-title">Follow us on Facebook</h5>
<div id="fb-root"></div>
<script async="" src="https://www.google-analytics.com/analytics.js"></script>
<script id="facebook-jssdk" src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.8"></script>
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div class="fb-page" data-href="https://www.facebook.com/QuaverGame" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
</div>
</div>
</div>