.notification {
  position: fixed;
  padding: 13px 15px;
  font-size: 15px;
  top: 75px;
  display: inline-block;
  align-items: center;
  width: 100%;
  left: 0;
  z-index: 9;
  text-align: center;

  .alert {
    display: inline-block;
    box-shadow: 0 1px 3px 0 rgba(0,0,0, .05);
    text-transform: none;
    font-size: 15px;
  }
}

.notification-left {
  text-align: left;
}

.notification-right {
  text-align: right;
}

.notification-bottom-left {
  text-align: left;
  top: auto;
  bottom: 0px;
}

.notification-bottom-right {
  text-align: right;
  top: auto;
  bottom: 0px;
}

.notification-bottom {
  top: auto;
  bottom: 0px;
}
