.nav-tabs {
  padding-left: 10px;

  .nav-item {
    .nav-link {
      font-size: 14px;
      font-weight: 500;
      padding: 13px 18px;
      background-color: #f3f3f3;
      border-radius: 0;
      margin: 0;
      border-color: #ddd;
      border-width: 1px 0px 1px 1px;
      line-height: 1.25;
      color: #616161;

      i {
        margin-right: 5px;
      }

      &:focus,
      &:hover {
        color: inherit;
        background-color: transparent;
        border-width: 1px 0 0 1px;
        border-color: #ddd;
        color: #616161;
      }
    }

    .nav-link.active {
      background-color: #fafafa;
      color: #5a5a5a;
      border-radius: 0;
      border-bottom-color: transparent;
      border-width: 1px 0px 1px 1px;

      &:focus,
      &:hover {
        border-width: 1px 0px 1px 1px;
        background-color: #fafafa;
        color: #5a5a5a;
      }
    }

    &:last-child {
      .nav-link.active,
      .nav-link {
        border-width: 1px;
      }
    }
  }
}

.nav-icon-left li a > i {
  margin-right: 6px;
}

.tab-content > p:last-child {
  margin-bottom: 0;
}

.tabs-boxed {
  .nav-tabs {
    margin-bottom: -1px;
    padding-left: 0;

    .nav-item {
      .nav-link {
        background-color: transparent;

        &.active {
          background-color: #fff;

          &:focus,
          &:hover {
            background-color: #fff;
          }
        }
      }
    }
  }

  .tab-content {
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px 0 rgba(0,0,0, .05);
  }
}

.tabs-color {
  .nav-tabs {
    margin-bottom: -1px;
    padding-left: 0;
    border: 0;

    .nav-item {
      .nav-link {
        background-color: transparent;
        border-width: 0 0 2px 0;
        border-color: transparent;
        padding: 10px 15px 20px 15px;

        &:focus,
        &:hover {
          border-color: transparent;
          border-width: 0 0 2px 0;
        }
      }

      &:last-child {
        &.active .nav-link,
        .nav-link {
          border-width: 0 0 2px 0;
        }
      }

      .nav-link.active {
        background-color: transparent;
        border-width: 0 0 2px 0;
        border-color: $theme-primary;

        &:focus,
        &:hover {
          background-color: transparent;
          border-width: 0 0 2px 0;
          border-color: $theme-primary;
        }
      }
    }
  }

  .tab-content {
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px 0 rgba(0,0,0, .05);
  }
}
